<section id="footer-section" class="shopify-section index-section">
    <footer class="footer">
        <div class="copyright">
            <div class="container container-v1">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6  text-lg-left text-md-left">
                        <div class="text-copyright mb-0">
                            © Copyright {% now "Y" %} | <a href="/" rel="nofollow" target="_blank"
                                                  class="underline_hover bold"> Lampboy </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>