<click-spark></click-spark>
<div id="back-to-top" class="fixed">
    <div
      class="trigger"
      data-back-to-top
      aria-label="Back to the top"
      data-hidden-mobile="false"
    >
      <div class="outer">
        <div class="inner">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
            viewBox="9.98 12.06 12.05 6.79" width="14" height="14">
            <path d="M16.767 12.809l-0.754-0.754-6.035 6.035 0.754 0.754 5.281-5.281 5.256 5.256 0.754-0.754-3.013-3.013z" fill="currentColor"></path>
          </svg>
        </div>
        <div class="circle"></div>
      </div>
    </div>
</div>
<section id="footer-section" class="shopify-section index-section">
    <footer class="footer">
        <div class="copyright">
            <div class="container container-v1">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6  text-lg-left text-md-left">
                        <div class="text-copyright mb-0">
                            © Copyright {% now "Y" %} | <a href="/" rel="nofollow" target="_blank"
                                                  class="underline_hover bold"> Lightboy </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>